@import "../../../responsive";

@media #{$medium-down}
{
  .comments-of-post
  {
    .buttons-set
    {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
    }
  }
  .posts__buttons
  {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;

    .button
    {
      grid-column: 1 / 1;
    }
  }
}