@import "../../../responsive";

@media #{$medium-down}
{
  .main-content
  {
    .posts
    {
      grid-template-columns: repeat(2, 47.5%);
      column-gap: 5%;
      justify-content: center;
    }
  }
}