{% for fieldName, fieldProperties in formFields %}
    {% if not(fieldProperties["type"] is same as ("submit")) %}
        <div class="form-floating mb-3">
    {% else %}
        <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
            </div>
        </div>
        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
        <div class="d-grid">
    {% endif %}
        {% if (fieldProperties["type"] is same as ("textarea")) %}
            {% include 'form/textarea.html.twig' with {'fieldProperties' : fieldProperties, 'fieldName' : fieldName} only %}
        {% elseif (fieldProperties["type"] is same as ("radio")) %}
            {% include 'form/radio.html.twig' with {'fieldProperties' : fieldProperties, 'fieldName' : fieldName} only %}
        {% else %}
            {% include 'form/input.html.twig' with {'fieldProperties' : fieldProperties, 'fieldName' : fieldName} only %}
        {% endif %}
        {% include 'form/label.html.twig' with {'fieldProperties' : fieldProperties, 'fieldName' : fieldName} only %}
        {% include 'form/_feedback.html.twig' with {'fieldProperties' : fieldProperties, 'fieldName' : fieldName} only %}
    </div>
{% endfor %}