@import "variables";

body
{
  height: 100dvh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.title
{
  display: grid;
  justify-self: center;
}
.logo
{
  top: 1%;
  right: 1%;
  width: 13.5%;
  position: absolute;
}
.pill:hover
{
  background: $grey-light;
  border-radius: 3rem;
  width: fit-content;
}
