@import "variables";

body
{
  height: 100dvh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.advent-pro-400
{
 font-family: "Advent Pro", sans-serif;
 font-optical-sizing: auto;
 font-weight: 400;
 font-style: normal;
 font-variation-settings:
         "wdth" 100;
}
.carrois-gothic-regular
{
  font-family: "Carrois Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title
{
  display: grid;
  justify-self: center;
}
.logo
{
  top: 1%;
  right: 1%;
  width: 13.5%;
  position: absolute;
}
.link
{
  color: $grey;
}
.link:hover
{
  color: $white;
  background-color: $grey-light;
}
