@import "variables";

footer
{
  display: grid;
  padding: 3% 5%;
  font-size: 1.5rem;
  margin: 10% 0 0 0;

  .social-network
  {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    column-gap: 2%;
  }

  .social-logo
  {
    height: 100%;
  }
}
.footer__bloc
{
  display: grid;
  grid-auto-rows: 50px;
}
.footer__line
{
  border: 1px solid $grey-light;
  display: grid;
  align-self: center;
  background: $grey-light;
  height: 1px;
}
footer a
{
  color: $dark-blue;
  padding: 1%;
}
.social-logo
{
  display: grid;
  justify-self: flex-end;
}
.social-network>svg
{
  display: grid;
  justify-self: flex-end;
  width: 50px;
  height: 50px;
  color: black;
  fill: black;
}