@import "variables";

footer
{
  display: grid;
  padding: 3%;
  font-size: 1.5rem;
  row-gap: 3%;
}
.footer__bloc
{
  display: grid;
}
.footer__line
{
  border: 1px solid $grey-light;
  display: grid;
  align-self: center;
  background: $grey-light;
  height: 1px;
}
footer a
{
  color: $dark-blue;
  padding: 1%;
}