$very-small-up : "only screen and (min-width: 350px)";
$very-small : "only screen and (min-width: 400px)";
$medium-down : "only screen and (min-width: 600px)";
$medium: "only screen and (min-width: 700px)";
$medium-up: "only screen and (min-width: 900px)";
$high-down : "only screen and (min-width: 1200px)";
$high: "only screen and (min-width: 1400px)";
$high-up: "only screen and (min-width: 1600px)";