{% extends "base.html.twig" %}

{% block title %}
    Add Social Network
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Add Social Network</h1>
    <form action="{{ path('social_networks_process__create') }}" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Facebook" id="name" />
        <input type="submit" name="submit" value="Submit" />
    </form>
{% endblock %}

