{% extends "base.html.twig" %}

{% block title %}
    Add Social Network
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Add Social Network</h1>
    <form action="{{ path("social_networks_process__create") }}" method="post">
        {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
    </form>
{% endblock %}

