{% extends "base.html.twig" %}

{% block title %}
    Modify Social Network
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Modify Social Network</h1>
    <form action="{{ path("social_networks_process__update", { 'id' : socialNetwork.id}) }}" method="post">
        {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
    </form>
{% endblock %}