{% extends "base.html.twig" %}

{% block title %}
    Modify Social Network
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Modify Social Network</h1>
    <form action="{{ path("social_networks_process__update", { 'id' : socialNetwork.id}) }}" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{ socialNetwork.name }}"/>
        <input type="submit" name="submit" value="Submit" />
    </form>
{% endblock %}