{% extends "base.html.twig" %}

{% block title %}Add Comment{% endblock %}

{% block body %}
    {% block main %}
        <h1>Add Comment</h1>
        <form action="{{ path("comments_process__create", {'postId' : postId}) }}" method="post">
            {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
        </form>
    {% endblock %}

{% endblock %}