{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/style/css/comment/add.css') }}">
{% endblock %}

{% block title %}Add Comment{% endblock %}

{% block pageTitle %}
    Add Comment
{% endblock %}
{% block main %}

    <form class="add-comment" action="{{ path("comments_process__create", {'postId' : postId}) }}" method="post">
        {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
    </form>
{% endblock %}