{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}My Comments{% endblock %}

{% block pageTitle %}
    My Comments
{% endblock %}
{% block main %}
    <div>
        {% set postIdIterator = 0 %}
{#            {{ dump(comments) }}#}
        {% for comment in comments %}
            {% include 'comment/comment.html.twig' with {'comment': comment, 'postId' : postIds[postIdIterator].toString()} only %}
            {% set postIdIterator = postIdIterator + 1 %}
        {% endfor %}
    </div>
{% endblock %}