{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/style/css/comment/commentList.css') }}">
{% endblock %}

{% block title %}My Comments{% endblock %}

{% block pageTitle %}
    My Comments
{% endblock %}
{% block main %}
    <div class="comments cards-set">
        {% set postIdIterator = 0 %}
        {% for comment in comments %}
            {% include 'comment/comment.html.twig' with {'comment': comment, 'postId' : postIds[postIdIterator].toString()} only %}
            {% set postIdIterator = postIdIterator + 1 %}
        {% endfor %}
    </div>
{% endblock %}