<div class="card comment">
    <div>
        {{ comment.content }}
    </div>
    <div>
        {{ comment.publishedDate|date("H:i:s m/d/Y", "Europe/Paris") }}
    </div>
    <div class="buttons">
        <a class="button" href="{{ path('validate__comment', {'commentId' : comment.id}) }}">Validate this comment</a>
        <a class="button" href="{{ path('posts__details', {'postId' : postId}) }}">Detail about post</a>
    </div>
</div>