{% extends "base.html.twig" %}

{% block title %}Modify this Comment{% endblock %}

{% block pageTitle %}
    Modify this Comment
{% endblock %}
{% block main %}
    <form class="form" action="{{ path("comments__modify__process", {'commentId' : commentId, 'postId' : postId}) }}" method="post">
        {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
    </form>
{% endblock %}