{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Comments to validate{% endblock %}

{% block main %}
    <h1>Comments to validate</h1>
    <div>
        {% set postIdIterator = 0 %}

        {% for comment in comments %}
            {% include 'comment/commentToValidate.html.twig' with {'comment': comment, 'postId' : postIds[postIdIterator].toString()} only %}
            {% set postIdIterator = postIdIterator + 1 %}
        {% endfor %}
    </div>
{% endblock %}