{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/style/css/comment/commentList.css') }}">
{% endblock %}

{% block title %}Comments to validate{% endblock %}

{% block pageTitle %}
    Comments to validate
{% endblock %}
{% block main %}
    <section class="py-5">
        <div class="container px-5">
            <div class="row gx-5">
                {% set postIdIterator = 0 %}

                {% for comment in comments %}
                    {% include 'comment/commentToValidate.html.twig' with {'comment': comment, 'postId' : postIds[postIdIterator].toString()} only %}
                    {% set postIdIterator = postIdIterator + 1 %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}