{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Comments to validate{% endblock %}

{% block pageTitle %}
    Comments to validate
{% endblock %}
{% block main %}
    <div>
        {% set postIdIterator = 0 %}

        {% for comment in comments %}
            {% include 'comment/commentToValidate.html.twig' with {'comment': comment, 'postId' : postIds[postIdIterator].toString()} only %}
            {% set postIdIterator = postIdIterator + 1 %}
        {% endfor %}
    </div>
{% endblock %}