@import "../../responsive";

@media #{$medium-up}
{
  .main-content
  {
    width: 100%;
    .form
    {
      width: 75%;
      justify-self: center;
    }

    .cards-set
    {
      grid-template-columns: repeat(3, 30%);
      column-gap: 2.5%;
    }
  }
}