@import "../variables";

.main-content
{
  justify-items: center;
  .main-content__people
  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
  }

  .main-content__photo,
  .main-content__logo
  {
    width: 100%;
  }
  .main-content__photo
  {
    border-radius: 50%;
  }

  .catch-phrase
  {
    display: grid;
    align-self: center;
  }
}