@import "../../../responsive";

@media #{$medium-down}
{
  .main-content
  {
    .users
    {
      grid-template-columns: repeat(2, 47.5%);
      column-gap: 5%;
      justify-content: center;
    }
    .button-add
    {
      width: 47.5%;
    }
  }
}