{% extends "base.html.twig" %}

{% block title %}
    Error 403
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block pageTitle %}
    Error 403 - Forbidden access
{% endblock %}
{% block main %}
    <div>
        {{ message }}
    </div>
{% endblock %}
