{% extends "base.html.twig" %}

{% block title %}
    Error 404
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block pageTitle %}
    Error 404 - Not Found
{% endblock %}
{% block main %}
    <div>
        {{ message|raw }}
    </div>
{% endblock %}