{% extends "base.html.twig" %}

{% block title %}
    Error 500
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block pageTitle %}
    Error 500 - Internal Server Error
{% endblock %}
{% block main %}
    <div>
        {{ message|raw }}
    </div>
{% endblock %}