@import "../variables";

.comments
{
  display: grid;
  justify-self: center;
  row-gap: 50px;
}
.comment
{
  display: grid;
  width: 100%;
  border: 1px solid $grey;
  border-radius: 5px;
}
.comment div
{
  display: grid;
}
.comment div a
{
  width: 100%;
  padding: 0 2.5%;
}
.buttons
{
  display: grid;
  row-gap: 20px;
}
.buttons>a
{
  width: 100%;
  padding: 0 2.5%;
}