@import "../variables";

.posts
{
  display: grid;
  row-gap: 20px;
  padding: 2.5%;
  margin-top: 10%;

  .posts__post
  {
    display: grid;
    position: relative;
    border: 1px solid $grey;
  }
  .posts__post:hover
  {
    background: $grey;
    color: $light-blue;
    font-weight: bold;
  }

  .posts__post__element
  {
    padding: 0 2.5%;
  }
  a.posts__post__element
  {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: transparent;
  }

}