@import "../variables";

.posts
{
  .posts__post
  {
    display: grid;
    grid-template-rows: auto 130px 30px 100px;
    border: 1px solid $grey;
    border-radius: 5px;
    position: relative;
    row-gap: 20px;
  }

  .posts__post__element
  {
    padding: 0 2.5%;
  }
  .posts__post__buttons
  {
    display: grid;
    row-gap: 20px;
  }
  .posts_post__title
  {
    font-weight: bold;
    font-size: 1.6rem;
  }
  .posts_post__chapo
  {
    font-style: italic;
  }
  .detail
  {
    position: absolute;
    inset: 0;
    color: transparent;
    background: none;
    border: none;
  }

  .detail:hover
  {
    outline: 1px solid $ultra-blue;
    box-shadow: 3px 3px 3px $ultra-blue;
  }

  .button
  {
    z-index: 1;
    padding: 0 2.5%;
  }
}