@import "../../../responsive";

@media #{$high-down}
{
  .main-content
  {
    .users
    {
      grid-template-columns: repeat(4, 23%);
      column-gap: 1.5%;
    }
    .button-add
    {
      width: 23%;
      margin: 0 0 0 1.5%;
    }
  }
}