{% extends "base.html.twig" %}

{% block title %}
    Add Role
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block pageTitle %}
    Add Role
{% endblock %}
{% block main %}
    <form action="{{ path("roles_process__create") }}" method="post">
        {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
    </form>
{% endblock %}

