{% extends "base.html.twig" %}

{% block title %}
    Modify Role
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block pageTitle %}
    Modify Role
{% endblock %}
{% block main %}
    <form action="{{ path('roles_process__update', { 'id' : role.id }) }}" method="post">
        {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
    </form>
{% endblock %}