<footer>
    <div class="footer__bloc">
        <a class="pill" href="{{ path("contact") }}">
            Contact Us
        </a>
    </div>
    {% if is_granted('Administrator') %}
    <div class="footer__line"></div>
    <div class="footer__bloc">
        <a class="pill" href="/user">
            Manage Users
        </a>
        <a class="pill" href="/social/network">
            Social Networks
        </a>
        <a class="pill" href="/role">
            Roles
        </a>
    </div>
    {% endif %}
</footer>