<nav class="navbar">
    <a href="/">
        Welcome
    </a>
    <a href="{{ path('posts') }}">
        All post
    </a>
    <a href="#">
        My Posts
    </a>
    <a href="{{ path('posts_addition') }}">
        Add Post
    </a>
    <a href="#">
        My Comments
    </a>
    <a href="#">
        My profile
    </a>
    <a href="#">
        Posts to validate
    </a>
    <a href="#">
        Comments to validate
    </a>
    <a href="/user">
        Manage Users
    </a>
    <a href="/social/network">
        Social Networks
    </a>
    <a href="/role">
        Roles
    </a>
    <a href="{{ path("logout") }}">
        Déconnexion
    </a>
</nav>