{% extends "base.html.twig" %}

{% block title %}Add Post{% endblock %}

{% block pageTitle %}
    Add Post
{% endblock %}
{% block main %}
    <form class="form" action="{{ path("posts__addition__process") }}" method="post">
        {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
    </form>
{% endblock %}