{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}My Posts{% endblock %}

{% block pageTitle %}
    My Posts
{% endblock %}
{% block main %}
    <div class="posts cards-set">
        {% for post in posts %}
            {% include 'post/post.html.twig' with {'post': post} only %}
        {% endfor %}
    </div>
{% endblock %}