{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}My Posts{% endblock %}

{% block main %}
    <h1>My Posts</h1>
    <div>
        {% for post in posts %}
            {% include 'post/post.html.twig' with {'post': post} only %}
        {% endfor %}
    </div>
{% endblock %}