{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}All Posts{% endblock %}

{% block body %}
    {% block navbar %}
        {{ parent() }}
    {% endblock %}
    {% block main %}
        <h1>Posts</h1>
        <div>
        {% for post in posts %}
            {% include 'post/post.html.twig' with {'post': post} only %}
        {% endfor %}
        </div>
    {% endblock %}

{% endblock %}