{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}All Posts{% endblock %}

{% block pageTitle %}
    All Posts
{% endblock %}
{% block main %}

    <section class="py-5">
        <div class="container px-5">
            <div class="row gx-5">
                {% for post in posts %}
                    {% include 'post/post.html.twig' with {'post': post} only %}
                {% endfor %}
            </div>
        </div>
    </section>




{% endblock %}