{% extends "base.html.twig" %}

{% block title %}Modify This Post{% endblock %}

{% block main %}
    <h1>Modify This Post</h1>
    <form action="{{ path("posts__modify__process", {'postId' : postId}) }}" method="post">
        {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
    </form>
{% endblock %}