{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Modify This Post{% endblock %}

{% block pageTitle %}
    Modify This Post
{% endblock %}
{% block main %}
    {% include 'messages/flash_message.html.twig' with {'flashMessages' : flashMessages} only %}
    <form class="form" action="{{ path("posts__modify__process", {'postId' : postId}) }}" method="post">
        {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
    </form>
{% endblock %}