<div>
    <div>
        {{ post.title }}
    </div>
    <div>
        {{ post.dateOfLastUpdate }}
    </div>
    <div>
        {{ post.chapo }}
    </div>
    <div>
        <a href="{{ path('posts__details', {'postId' : post.id.toString()}) }}">Detail about post</a>
    </div>
</div>