{% extends "post/index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Posts To Validate{% endblock %}

{% block pageTitle %}
    <h1>Post To Validate</h1>
{% endblock %}