<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Mail
        {% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Carrois+Gothic&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ asset('assets/images/favicon.png') }}"
    {% endblock %}
</head>
<body
        style=
            "
                font-family: Advent Pro, sans-serif;
                font-stretch: condensed;
            ">

{% block body %}

    <section>
        <h1>
            {% block pageTitle %}
                Mail
            {% endblock %}
        </h1>
        {% block main %}
            <p>
                {% block content %}

                {% endblock %}
            </p>
        {% endblock %}
    </section>
    <footer>
        {% block footer %}

        {% endblock %}
    </footer>

{% endblock %}


</body>
</html>
