{% extends "base.html.twig" %}

{% block title %}
    Add User
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <h1>Add User</h1>
    <form action="{{ path('users_process__create') }}" method="post">
        {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
    </form>
{% endblock %}

