{% extends "base.html.twig" %}

{% block title %}
    Add User
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/style/css/user/add.css') }}">
{% endblock %}

{% block pageTitle %}
    Add User
{% endblock %}
{% block main %}
    <form class="form" action="{{ path('users_process__create') }}" method="post">
        {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
    </form>
{% endblock %}

