{% extends "base.html.twig" %}

{% block title %}
    Modify User
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block pageTitle %}
    Modify {{ user.username }}
{% endblock %}
{% block main %}
    <section class="py-5">
        <div class="container px-5">
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <form class="form" action="{{ path('users_modify_process' , {'id' : user.id}) }}"
                              method="post">
                            {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}