{% extends "base.html.twig" %}

{% block title %}
    Modify User
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Modify {{ user.username }}</h1>
    <form action="{{ path('users_process__update' , {'id' : user.id}) }}" method="post">
        {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
    </form>
{% endblock %}