{% extends "base.html.twig" %}

{% block title %}
    Modify User
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block pageTitle %}
    Modify {{ user.username }}
{% endblock %}
{% block main %}
    <form action="{{ path('users_process__update' , {'id' : user.id}) }}" method="post">
        {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
    </form>
{% endblock %}