{% extends "base.html.twig" %}

{% block title %}
    Modify my Profile
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block pageTitle %}
    Modify my profile
{% endblock %}
{% block main %}
    <form action="{{ path('profile__modify__process') }}" method="post">
        {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
    </form>
{% endblock %}

