{% extends "base.html.twig" %}

{% block title %}
    Register
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block pageTitle %}
    Register
{% endblock %}

{% block main %}
    <form class="form" action="{{ path('register__process') }}" method="post">
        {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
    </form>
{% endblock %}

