{% extends "base.html.twig" %}

{% block title %}
    Register
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/style/css/user/register.css') }}">
{% endblock %}

{% block pageTitle %}
    Register
{% endblock %}

{% block main %}
    <form class="form-register" action="{{ path('register__process') }}" method="post">
        {% include 'form/form.html.twig' with {'formFields' : formFields} only %}
    </form>
{% endblock %}

