@import "../../responsive";

@media #{$medium-down}
{
  .main-content
  {
    width: 95%;

    .cards-set
    {
      grid-template-columns: repeat(2, 47.5%);
      column-gap: 5%;
      justify-content: center;
    }
  }
  .form__submit
  {
    padding: 1.5%;
  }
}